<div class="px-6 mx-auto sm:px-0">
  <div class="max-w-sm px-4 pt-4 pb-5 rounded-lg shadow-md bg-night_dark">
    <div class="flex items-center mb-4">
      <div class="mr-3 font-bold text-center border-2 rounded-full w-7 h-7 border-pinky text-pinky shrink-0">1</div>
      <h5 class="font-bold leading-5 text-white text-md font-manrope">Define <span class="text-pinky">los parametros</span> de tu cadena</span> o unete a una cadena existente</h5>
    </div>
    <div class="max-w-sm">
      <div class="mb-3">
        <label for="small-input" class="block mb-2 font-nimbus text-gray-50">Numero de participantes</label>
        <input readonly="readonly" id="helper-text" aria-describedby="helper-text-explanation" class="bg-gray-50 text-jaguar text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="5"  value="5">
      </div>
      <div class="mb-3">
        <label for="small-input" class="block mb-2 font-nimbus text-gray-50">Numero de cuotas</label>
        <input readonly="readonly" id="helper-text" aria-describedby="helper-text-explanation" class="bg-gray-50 text-jaguar text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="10" value="10">
      </div>
      <div class="mb-3">
        <label for="small-input" class="block mb-2 font-nimbus text-gray-50">Valor de cada cuota</label>
        <input readonly="readonly" id="helper-text" aria-describedby="helper-text-explanation" class="bg-gray-50 text-jaguar text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="100,000" value="100,000">
      </div>
      <div class="mb-3">
        <label for="small-input" class="block mb-2 font-nimbus text-gray-50">Frecuencia de pagos</label>
        <input readonly="readonly" id="helper-text" aria-describedby="helper-text-explanation" class="bg-gray-50 text-jaguar text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Mensual" value="Mensual">
      </div>
    </div>
  </div>
</div>
