<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @participant.name %>!</p>
    <p>Te informamos que la cadena <%= @participant.cadena.name %> ha terminado de manera exitosa!</p>
    <p>Felicitaciones! Gracias a la colaboración de todos, cada miembro ha obtenido un ahorro de <%= number_to_currency(@participant.cadena.saving_goal) %>!</p>
    <p>Un agradecimiento especial a los demas miembros por su compromiso :  <%= @participant.cadena.participants_names.reject{|participant|participant == @participant.name}.join(", ") %>!</p>
    <p>Gracias por utilizar y confiar en Cadenapp. Esperamos verlos muy pronto para lograr nuevas metas de ahorro!</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
