<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @participant.name %>!</h1>
    <p><%= @participant.name %> has joined one of your cadenas : <%= @cadena.name %>.</p>
    <p>Congratulations!</p>
    <p>You can remove the participant from <%= link_to "your cadena", @cadena %> before it starts.</p>
  </body>
</html>
