<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @admin.name %>!</h1>
    <p>You have created a new cadena named <%= @cadena.name %>.</p>
    <p>Remember, you are the admin of the Cadena</p>
    <p>With great power comes great responsibilities</p>
  </body>
</html>
