<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @cadena.admin.name %>!</p>
    <p>Te informamos que <%= @participant.name %> ha aceptado tu invitación para hacer parte de la cadena que administras, <%= link_to @cadena.name, @cadena %>.</p>
    <p>Felicidades!</p>
    <p>Recuerda que si por cualquier motivo te equivocaste o cambiaste de opinión, puedes retirar a un participante antes del inicio de la cadena.</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
