<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @participant.name %></p>
    <p>Lo sentimos, has sido retirado de la cadena <%= @participant.cadena.name %> por el administrador. Recuerda que el administrador tiene la autoridad para cambiar los miembros antes del inicio de la cadena.</p>
    <p>Cadenapp no interviene en este proceso.</p>
    <p>Esperamos verte en otra cadena próximamente.</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
