<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @participant.name %></h1>
    <p>You have been removed from the cadena <%= @participant.cadena.name %> by its admin.</p>
    <p>We're sorry to see you go.</p>
  </body>
</html>
