<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello, <%= @participant.name %>!</p>
    <p>This is a reminder that today is the last day to pay <%= @next_paid_participant.name %> <%= number_to_currency(@participant.cadena.installment_value, precision: 2) %></p>
    <p>You can pay him  <%= link_to "here", @participant.cadena  %></p>
  </body>
</html>
