<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello, <%= @participant.name %>!</p>
    <p>Everyone has paid in <%= @participant.cadena.name %> for the current installment.</p>
    <p><%= t("cadena.withdrawal_date") %> : <%= @participant.cadena.next_payment_date.strftime('%d/%m/%Y') %></p>
    <p>Thank you for your participation, next payment limit date is <%#= @participant.cadena.subsequent_payment_date.strftime('%d/%m/%Y') %></p>
  </body>
</html>
