<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @participant.name %>!</p>
    <p>Te informamos que todos los participantes de la cadena <%= @participant.cadena.name %> han pagado la cuota de este periodo. Que chévere! Eso es un grupo de confianza juicioso!</p>
    <p>Te recordamos que el próximo día de recaudo es el <%= @participant.cadena.next_payment_date.strftime('%d/%m/%Y') %>.</p>
    <p>Gracias nuevamente por tu participación!</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
