<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @participant.name %>!</p>
    <p>El orden de la cadena <%= @cadena.name %> ha sido sorteado.</p>
    <p>Puedes ver haciendo click  <%= link_to "aqui", @cadena %> cual es tu posición en la cadena</p>
    <p>Saludos, Cadenapp</p>
  </body>
</html>
