<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @participant.name %>!</h1>
    <p>The participation order for <%= @cadena.name %> has been defined!</p>
    <p>Go check it <%= link_to "here", @cadena %></p>
  </body>
</html>
