<%= render layout: 'shared/email_layout' do %>
  <p class="intro">Hola <%= @cadena.admin.name %>,</p>
  <p>Como administrador(a) de la cadena <%= @cadena.name %>, ahora te toca <b>generar el orden de recaudo</b> haciendo click en el botón amarillo en tu cadena:</p>
  <%= link_to 'Generar orden de recaudo', @cadena, class:'btn-primary' %>
  <p>Si algun participante te genera desconfianza, puedes todavia puedes retirarlo de la lista pulsando el boton <b>"Eliminar"</b>, <br>
    pero recuerda que tendrás que reemplazarlo invitando a otro participante después.</p>
  <p>Una vez que generes el orden, <u><b>empieza oficialmente la cadena y no pueden darse de baja</b></u> los participantes!</p>
<% end %>
