<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @participant.name %>!</p>
    <p>Has aceptado la invitación para ser parte de la cadena <%= @cadena.name %>.</p>
    <p>¡Muchos éxitos!</p>
  </body>
</html>
