<div class="bg-white">
  <div class="max-w-4xl pb-4 mx-auto">
    <div class="px-8 pt-10 pb-6 space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 font-manrope text-night_light">
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/participants.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Monta o únete a una cadena existente
        </div>
        <div class="font-medium">Inscribete gratuitamente como administrador o participante de una cadena que te permitirá ahorrar más rápidamente con tus amigos y familiares. En solo unos clicks, administra tus ahorros de manera segura y transparente.</div>
      </div>
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/order.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Participa en el sorteo de tu cadena
        </div>
        <div class="font-medium">El sorteo establece en tiempo real el orden en el cual cada participante podrá retirar el total de las cuotas. El orden se establece de manera aleatoria para que ningún participante sea favorecido en el orden de retiro.</div>
      </div>
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/money.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Cotiza y retira hasta 10.000.000 pesos asegurados
        </div>
        <div class="font-medium">Cadenapp no requiere meta de inversión, ni cuenta bancaria, ni fondos mínimos! Puedes cotizar a través de PSE o directamente en efectivo. Nuestro seguro y nuestras funcionalidades de control te permiten ahorrar tranquilamente con los demás participantes.</div>
      </div>
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/magic.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Acumula puntos y descuentos para tus futuras cadenas
        </div>
        <div class="font-medium t">Terminaste de ahorrar con Cadenapp? Te ofrecemos un descuento para tu próxima cadena.</div>
      </div>
    </div>
  </div>
</div>
