<div class="bg-white">
  <div class="max-w-4xl pb-4 mx-auto">
    <div class="px-8 pt-10 pb-6 space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 font-manrope text-night_light">
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/participants.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Una nueva manera de hacer Cadenas
        </div>
        <div class="font-medium">Crea, participa, aporta en una cadena digital fácil de usar y segura para tu dinero.
          Inscríbete gratuitamente en una cadena que te permitirá ahorrar más rápidamente con tus amigos y familiares. En solo unos clicks, administra tus ahorros de manera 100% segura y transparente.</div>
      </div>
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/order.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Ahorrar es una buena inversión
        </div>
        <div class="font-medium">Gracias a nuestro fondo aliado tus ahorros generan un rendimiento mensual. Entre más tiempo lo dejes en la cadena, más dinero obtendrás al final del ciclo. Hacemos que el dinero de tu comunidad sea mas rentable!</div>
      </div>
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/money.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          El poder del ahorro al servicio de tus proyectos
        </div>
        <div class="font-medium">Con Cadenapp reúne dinero para cumplir tus sueños. No te cobramos intereses, no se requiere meta de inversión ni cuenta bancaria ni fondos mínimos! Puedes aportar a través de PSE o en efectivo desde un corresponsal.  Nuestros aliados vigilados por la Superfinanciera y nuestras funcionalidades de control te permiten ahorrar tranquilamente con los demás participantes.</div>
      </div>
      <div class="flex flex-col animate__animated animate__fadeIn animate__slow">
        <div class="p-3 mb-4 text-indigo-900 rounded-lg bg-indigo-50 w-fit h-fit">
          <%= inline_svg_tag('svg/magic.svg', class:'w-6') %>
        </div>
        <div class="mb-2 text-2xl font-bold leading-7 tracking-tight">
          Termina una cadena con éxito y obtén beneficios
        </div>
        <div class="font-medium t">Cuando terminas una cadena y que todo salió bien, obtienes un buen puntaje. A medida que este crece tendrás más beneficios : cadenas de mayor monto, posibilidad de participar en varias cadena a la vez, descuentos con negocios aliados y muchas otras cosas!</div>
      </div>
    </div>
  </div>
</div>
