<%= form_with(url: set_date_path, method: :patch, data:{controller:'flatpickr'}, class:'relative h-fit w-32 ml-auto mr-2.5', id:'global-date') do |form| %>
  <div class="absolute inset-y-0 left-0 flex items-center pl-2.5 pointer-events-none">
    <%= inline_svg_tag('svg/calendar.svg', class:'w-4 text-gray-400') %>
  </div>
  <%= form.date_field :global_date, id:'date-input', class:'global_date hover:cursor-pointer border text-sm rounded-xl focus:border-blue-500 block w-full pl-8 pr-2.5 py-2.5 bg-mirage border-gray-600 placeholder-gray-400 text-gray-300 focus:ring-blue-500', placeholder: Time.zone.now.strftime('%d/%m/%Y') %>
<% end %>
<script>
  document.addEventListener("turbo:load", function() {
    const dateInput = document.getElementById("date-input");
    dateInput.addEventListener("change", function() {
      document.getElementById("global-date").submit();
    });
  });
</script>
