<div id="flash" class="flex justify-center">
  <div class="fixed z-50 flex flex-col gap-3 mt-6 w-fit flash-messages">
    <% flash.each do |type, message| %>
      <div id="alert-5" role="alert" x-init="() => { flashShown = true; setTimeout(() => { flashShown = false }, 4000) };" class="w-full px-5 py-3 text-center bg-gray-100 rounded-lg pointer-events-none flash-message dark:bg-gray-800 bg-white/50 dark:bg-gray-900 border border-gray-200 dark:border-gray-600 backdrop-blur dark:border-slate-50/[0.06] dark:bg-gray-900/75"
          x-data="{ flashShown: false }"
          x-show="flashShown"
          x-cloak
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition ease-out duration-200"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0">
          <div class="text-sm font-medium text-gray-800 dark:text-gray-50">
            <%= message %>
          </div>
      </div>
    <% end %>
  </div>
</div>
