<div id="flash" class="flex justify-center">
  <div class="fixed z-50 flex flex-col gap-3 mt-6 w-fit flash-messages">
    <% flash.each do |type, message| %>
      <div id="alert-5" role="alert" x-init="() => { flashShown = true; setTimeout(() => { flashShown = false }, 7000) };" class="flash_notice flash-message"
        x-data="{ flashShown: false }"
        x-show="flashShown"
        x-cloak
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-out duration-200"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0">
        <div class="text-sm font-medium text-gray-50">
          <%= message %>
        </div>
      </div>
    <% end %>
  </div>
</div>
