<footer class="p-4 sm:p-6 bg-jaguar">
  <div class="md:flex md:justify-between">
    <div class="mb-6 md:mb-0">
      <a href="https://cadenapp.com" class="flex items-center">
        <span class="px-2 py-1 mb-2 text-xl italic font-bold tracking-tighter rounded-md text-jaguar bg-mayo font-nimbus w-fit">Cadenapp</span>
      </a>
    </div>
    <div class="grid grid-cols-2 gap-8">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">Recursos</h2>
        <ul class="text-gray-400">
          <li class="mb-4">
            <a href="https://cadenapp.com" class="hover:underline">Que es una cadena?</a>
          </li>
          <li>
            <a href="https://cadenapp.com" class="hover:underline">Cadenapp vs. Bancos</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">Legal</h2>
        <ul class="text-gray-400">
          <li class="mb-4">
            <a href="#" class="hover:underline">Politica de confidencialidad</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Terminos &amp; Condiciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="my-6 sm:mx-auto border-jaguar_light lg:my-8" />
  <div class="sm:flex sm:items-center sm:justify-between">
    <span class="text-sm text-gray-400 sm:text-center">© 2022 <a href="https://cadenapp.com" class="hover:underline">Cadenapp™</a>. Derechos reservados.
    </span>
    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
      <a href="#" class="text-gray-500 hover hover:text-white">
        <%= inline_svg_tag 'svg/facebook.svg' %>
      </a>
      <a href="#" class="text-gray-500 hover hover:text-white">
        <%= inline_svg_tag 'svg/instagram.svg' %>
      </a>
      <a href="#" class="text-gray-500 hover hover:text-white">
        <%= inline_svg_tag 'svg/twitter.svg' %>
      </a>
      <span class="text-gray-500 border-r border-jaguar_light"></span>
      <a href="/users/sign_in" class="text-gray-500 hover hover:text-white">
        <%= inline_svg_tag 'svg/link.svg', class:'w-5' %>
      </a>
    </div>
  </div>
</footer>
