<div class="mt-4 mb-3">
  <h3 class="p-6 text-2xl font-bold text-center text-white font-nimbus-ext">Ahorra en grupo en <span class="text-ocra">3 pasos</span> sencillos</h3>
</div>

<div class="grid max-w-5xl grid-cols-1 gap-8 pb-4 mx-auto mb-4 lg:grid-cols-3">
  <%= render 'how_it_works/parameters' %>
  <%= render 'how_it_works/list' %>
  <%= render 'how_it_works/get_money' %>
</div>
