<div class="flex justify-between p-6 bg-night">
  <%= link_to root_path do %>
    <h1 class="px-2 py-1 mb-2 text-xl italic font-bold tracking-tighter rounded-md text-jaguar bg-mayo font-nimbus w-fit">Cadenapp</h1>
  <% end %>

  <% if current_user %>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" } do %>
      <button type="button" class="p-2.5 text-sm font-medium text-gray-400 bg-gray-800 border border-gray-600 rounded-xl focus:outline-none focus:z-10 focus:ring-4 focus:ring-gray-700 hover:text-white hover:bg-gray-700">
        <svg fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z"></path>
        </svg>
      </button>
    <% end %>
  <% end %>
</div>
