<div class="flex justify-between px-5 py-6 md:px-6 bg-mirage">
  <%= link_to root_path, class:'mr-2.5 flex w-fit items-center' do %>
    <div class="py-1 text-2xl italic font-black rounded-xl text-white shadow-lg bg-radial-[at_5%_10%] from-lavender-light to-lavender/25 font-nimbus w-10 h-10" style="padding-left:11px">C</div>
    <h1 class="hidden px-2 py-1 text-2xl italic font-bold tracking-tighter text-white rounded-md font-nimbus w-fit sm:block">Cadenapp</h1>
  <% end %>
  <% if current_user %>
    <div class="flex">
      <%= render 'shared/date_selector' if current_user.is_admin %>
      <%= render 'shared/cadenas_shortcut' if current_user.is_admin %>
      <%= render 'shared/users_shortcut' if current_user.is_admin %>
      <%#= render 'shared/user' %>
    </div>
  <% end %>
</div>
