<nav class="relative menu">
  <div class="menu__item">
    <div class="marquee bg-jaguar-light">
      <div class="marquee__inner">
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
        <span class="text-lg text-white uppercase font-nimbus-ext">Proximamente</span>
      </div>
    </div>
  </div>
</nav>
