<article class="max-w-4xl p-6 mx-auto mb-12 text-white">
  <header>
    <h1 class="mb-6 text-3xl font-bold tracking-tight text-center md:text-4xl font-nimbus-ext"><span class="mr-1">🧫</span> Prueba cerrada</h1>
    <p class="page-description"></p>
  </header>
  <div class="text-sm md:text-base">
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">Premio</h3>
    <p>
      La participación a nuestro test Cadenapp no tiene costo y es libre de remuneración. Pero al final de la prueba, realizaremos un sorteo entre los participantes y seleccionaremos a 3 afortunados ganadores que recibirán [premio] como muestra de nuestro agradecimiento por su valiosa contribución.
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">Duración</h3>
    <p>
      La prueba se llevará a cabo a partir del <span class="underline">15 de octubre y durará 10 días</span>. Para los participantes, nuestro experimento solo requiere <span class="underline">algunos segundos de atención por día</span>. Sin embargo, rogamos a los participantes que una vez iniciado el test el 15 de octubre sigan hasta el final del proceso, para no estropear el avance de la prueba.
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">
      Participantes
    </h3>
    <p>
      Los participantes se reúnen en grupos de 7 personas que juntas harán parte de una “cadena”.
    </p>
    <p>
      Para formar grupos de cadenas, empezaremos por contactar a personas designadas como “administradoras” de cadena. Ellas se encargarán de invitar a los 6 participantes restantes de cada cadena.<span class="underline">Cada administrador tendrá 3 días para contactar a los demás
        participantes</span>, para que cada cadena pueda iniciar sus actividades el 17 de octubre. En caso de que un administrador no logre invitar a 6 personas en su cadena, entraremos en contacto para proponerle nuevos participantes que ayuden a completar su grupo.
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">Aplicación</h3>
    <p>
      Esta prueba se llevará a cabo en una aplicación web, lo que significa que podrás acceder y utilizarla con un link a través de cualquier navegador web sin necesidad de descargar o instalar ninguna aplicación adicional en tu dispositivo (sea móvil o computador).
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">
      Actividad de los participantes
    </h3>
    <p>
      Los participantes (incluyendo el administrador) deberán conectarse a la aplicación al menos una vez al día para realizar ciertas acciones que incluyen :
    </p>
    <ul class="my-4 ml-4 leading-loose list-disc">
      <li class="mb-1">Inscribirse a Cadenapp</li>
      <li class="mb-1">Crear una cadena e invitar participantes</li>
      <li class="mb-1">Integrar una cadena existente</li>
      <li class="mb-1">Recargar el saldo Cadenapp con dinero ficticio</li>
      <li class="mb-1">Recepcionar y realizar pagos ficticios</li>
      <li class="mb-1">Recibir notificaciones por mail</li>
    </ul>
    <p>
      Para no influenciar las primeras impresiones de los usuarios y su capacidad para utilizar nuestra aplicación de forma intuitiva, no podemos proporcionar un instructivo visual de lo que tendrán que hacer los participantes. Pero mandaremos instrucciones claras a través de los correos de la aplicación y habilitaremos un canal de soporte para responder a sus preguntas y preocupaciones en tiempo real :
      <%= mail_to 'contacto@cadenapp.com', 'contacto@cadenapp.com', encode: 'hex', class:'text-pink-400 hover:underline', target:'_blank' %>
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">Objetivos</h3>
    <p>
      Monitorear el rendimiento de la aplicación, verificar que todas las funcionalidades básicas funcionen correctamente, comprender las necesidades más importantes de los usuarios y los puntos problemáticos desconocidos. El test también será una oportunidad para responder a preguntas, perfeccionar el diseño de la aplicación y preparar su desarrollo futuro.
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">
      Monitoreo y confidencialidad
    </h3>
    <p>
      André y Manu tendrán un acceso especial que les permitirá :
    </p>
    <ul class="my-4 ml-4 list-disc">
      <li class="mb-1">
        Tener acceso a la lista de todos las cadenas, todos los usuarios, todos los pagos que existen dentro de la aplicación
      </li>
      <li class="mb-1">
        Conectarse a la cuenta de cualquier usuario para controlar sus informaciones, efectuar algunas acciones en caso de dificultad
      </li>
      <li class="mb-1">
        Ver el trafico en tiempo real y monitorear métricas como el tiempo promedio de pago
      </li>
    </ul>
    <p>
      Nos comprometemos en dejar anónimas las pocas informaciones que colectaremos de nuestros usuarios : nombres, apellidos, e-mails.
    </p>
    <h3 class="mt-6 mb-4 font-bold md:tracking-wide font-manrope" style="font-size: 22px">
      Retroalimentación
    </h3>
    <p class="mb-6">
      Al final del experimento, los usuarios podrán proporcionar comentarios a través de un formulario de retroalimentación dentro de la aplicación.
    </p>
    <p class="mb-6">
      Estamos emocionados por esta prueba cerrada. Esperamos recopilar valiosos comentarios de los participantes que nos ayudarán a mejorar la aplicación y brindar una experiencia óptima a nuestros futuros usuarios.
    </p>
    <p class="text-center ">
      ¡Gracias por ser parte de este proceso!
    </p>
  </div>
</article>
