<div class="max-w-md px-6 pb-6 mx-auto text-white">
  <div class="flex items-center justify-between mb-10">
    <%= link_to :back do %>
      <%= inline_svg_tag('svg/arrow_left.svg', class:'text-white w-6') %>
    <% end %>
    <h1 class="text-lg font-bold text-white text font-manrope">Términos y Condiciones</h1>
    <span class="w-5"></span>
  </div>
  <div class="text-sm font-manrope">
    <p>Al ingresar, navegar e interactuar con el contenido del sitio web www.cadenapp.com (en adelante el “Sitio Web”) y usted como visitante, participante, invitado (en adelante identificados de manera individual como el “Usuario” y en conjunto como los “Usuarios”) acepta que ha leído y se ha informado de los presentes Términos y Condiciones para el ingreso y uso
      del Sitio Web (en adelante los “Términos y Condiciones”), los cuales
      deberá consultar y aceptar cada vez que interactúe con el Sitio Web, así
      podrá mantenerse actualizado sobre los mismos.</p>
    <br>
    <p>Con el ingreso al Sitio Web, el Usuario está aceptando los presentes Términos y
      Condiciones y la Política de Tratamiento de Datos Personales.</p>
  </div>
  <br>
  <ol class="text-sm list-decimal font-manrope">
    <li>MENORES DE EDAD <br>
      El Sitio Web no presta servicios a menores de edad. Por lo tanto, si usted es menor de
      edad bajo las leyes del país en el que se encuentre, debe abstenerse de
      ingresar, navegar y/o usar el Sitio Web sin la compañía de sus
      representantes y/o quienes ejerzan su patria potestad bajo las leyes del
      país en el que se encuentre. Los menores de edad podrán ingresar,
      navegar y/o usar el Sitio Web sólo a través de sus representantes y/o
      quienes ejercen su patria potestad, por lo tanto al ingresar, navegar
      y/o usar el Sitio Web, el Usuario reconoce, asevera y garantiza que es
      mayor de edad de conformidad con las leyes del país en donde se
      encuentre, que en todo caso siempre deberán ser Usuarios mayores de
      dieciocho (18) años.</li>
    <br>
    <li>DEFINICIONES <br>
      Con el fin de tener un correcto entendimiento de los Términos y Condiciones
      establecidos para el uso del Sitio Web se desarrollan las definiciones
      listadas abajo. Los términos no definidos se entenderán dentro de su
      alcance legal o literal. Cuando sea necesaria su interpretación literal,
      la misma tendrá en cuenta el contexto dentro del cual el término se
      encuentra incluido:
      Recaudo: Son todos los recursos aportados por los miembros de una cadena
      Cuota : valor definido por el adminsitrador de la cadena para lanzar un ahorro colaborativo
      Sitio Web: Se refiere al sitio web www.cadenapp.com
      Tarifa por Uso del Sitio Web: Es la cantidad de dinero que pagan los Usuarios
      por utilizar el Sitio Web y las diferentes funcionalidades que se ofrecen dentro del mismo.
      Usuario o Usuarios: Se refiere de manera individual o conjunta a los miembros y administradores de la cadena.
      Administrador : persona que organizar parametros y lanza una cadena invitando a miembros de confianza de su comunidad para crear un fondo de ahorro rotativo.</li>
    <br>
    <li>DECLARACIONES DE LOS USUARIOS. <br>
      En el momento de ingresar, navegar y/o usar el Sitio Web, el Usuario, en
      uso de sus plenas capacidades, realiza las siguientes declaraciones:<br>
      <br>
      a)
      Que entiende la importancia de los presentes Términos y Condiciones,
      así como la obligatoriedad de leer detalladamente cada uno de los puntos
      que lo integran antes de realizar cualquier actividad en el Sitio Web y
      en consecuencia declara aceptarlos en su totalidad. En este sentido, de
      no estar de acuerdo con los Términos y Condiciones aquí señalados, se
      abstendrá de ingresar, navegar y/o usar el Sitio Web.<br>
      <br>
      b) Que en
      caso de actuar como persona jurídica, la persona natural que ingresa,
      navega y/o usa el Sitio Web declara que cuenta con las autorizaciones
      amplias y suficientes para aceptar los presentes Términos y Condiciones y
      comprometer legalmente a la persona jurídica que representa.<br>
      <br>
      c)
      Que en caso de ser una persona natural, declara que es mayor de edad en
      su país de origen, y en este sentido es plenamente capaz de contraer
      todo tipo de obligaciones sin excepción.<br>
      <br>
      d) Según el tipo de
      registro que se efectúe en el Sitio Web (Administrador/Invitado), el registrado declara que la información suministrada en los
      formularios de registro corresponde a información cierta y actualizada y
      que al usar el Sitio Web y suministrar la información no incurre, entre
      otras, en alguna de las siguientes conductas:<br>
      <br>
      <ul class="list-disc list-inside">
        <li>Violación de
          los derechos de propiedad intelectual, marcas, nombres comerciales y en
          general, cualquier información que atente contra los derechos de
          propiedad intelectual detentados por terceros.</li>
        <li>Suplantación
          de identidad durante el registro debido al uso de datos de terceros,
          dentro de los que se encuentran, sin limitarse, nombre, correo
          electrónico, domicilio.</li>
        <li>Falsedad material y/o ideológica en documento público y/o privado.</li>
      </ul>
      <br>
      e)
      Que cuando cualquier Usuario realiza una transacción económica para
      aportar a una cadena, adquiere automáticamente la calidad de Aportante.<br>
      <br>
      f) Que todos los Usuarios tendrán las mismas obligaciones de acuerdo con el uso que hagan del Sitio Web.<br>
      <br>
      g)
      Los Usuarios, con independencia de su perfil o registro, entienden y
      confirman la aceptación de los presentes Términos y Condiciones en el
      momento de ingresar, navegar y/o usar el Sitio Web.<br>
      <br>
      h) Todos los
      Aportantes declaran que los recursos que emplean para aportar a una Vaki
      no son fruto de fuentes ilícitas, ni provienen de actividades
      delictuales como lo son, pero sin limitarse, al lavado de activos o
      financiación del terrorismo.<br>
      <br>
      i) Los administradores declaran que la
      finalidad de cada una de las cadenas corresponde exclusivamente a
      intenciones lícitas.<br>
      <br>
      j) Los administradores declaran que serán
      únicos responsables frente a los daños y perjuicios causados a Cadenapp SAS</li>
    <br>
    <li> VERIFICACIÓN DE LA INFORMACIÓN SUMINISTRADA POR LOS CREADORES <br>
      Los
      Creadores tienen por obligación el suministro de información veraz y
      comprobable sobre las condiciones bajo las cuales han creado su cadena y
      el destino de los recursos recaudados a través de la misma.
      En este sentido, el Sitio Web podrá en cualquier momento solicitar la
      comprobación de la veracidad de la información suministrada por el
      administrador, incluso con posterioridad al cierre de la cadena y el desembolso
      de los recursos.
      Esta comprobación podrá hacerse a través de
      soportes documentales, fotográficos o de cualquier elemento válido como
      prueba de la veracidad de la información suministrada.
      El administrador tendrá un periodo de quince (15) días contados desde la fecha de la
      solicitud hecha por el Sitio Web para aportar los elementos que
      considere pertinentes para comprobar la veracidad de la información. Si
      vencido este término, no se obtiene respuesta por parte del administrador, o
      la respuesta es insuficiente, y/o el Sitio Web tiene indicios de
      destinación diferente de los recursos recaudados o de información
      inexacta para la consecución de los mismos, procederá a presentar las
      denuncias y acciones legales correspondientes.</li>
    <br>
    <li>CONDICIONES GENERALES
      <ol style="list-style-type: lower-alpha;">
        <li>
          EL SERVICIO: <br>
          Cadenapp SAS como propietario del Sitio Web actúa solamente para la
          recepción, procesamiento y transferencia de los pagos por medio de las
          pasarelas de pagos a los miembros de la cadenap.  Cadenapp SAS actúa solo como prestador de servicios a través de su aplicativo web (Sitio Web), para lo cual puede recoger información
          fiscal o tributaria y ponerla en disposición de las autoridades como
          deber legal.<br>
          <br>
          ACCESO: <br>
          El acceso a Cadenapp es libre y gratuito y está
          reservado de manera exclusiva para personas mayores de edad. En caso de
          ser menor de edad, debe dirigirse a la sección 1 de los Términos y
          Condiciones y actuar conforme a lo allí establecido.<br>
          <br>
          VERIFICACIÓN:<br>
          Cadenapp SAS se reserva el derecho de revisar las cadenas creadas por
          los administradores y a su arbitrio podrá cerrar las cadenas creadas y devolver a
          los aportantes los aportes realizados si dicha cadena no se sujeta a los
          Términos y Condiciones aquí establecidos.</li>
        <br>
        <li>
          REGISTRO<br>
          El Sitio Web permite la consulta de información publicada sin necesidad de
          realizar el proceso de registro. Sin embargo, para obtener la condición
          de Creador se debe realizar un registro previo. La publicación de
          información sujeta a consulta en la plataforma se realiza a discreción
          del administrador del Sitio Web. El Sitio Web puede utilizar la
          información de registro de las diferentes redes sociales que utilice el
          Usuario y que sean compatibles con el Sitio Web, contando con la previa
          autorización del Usuario que realiza el proceso. El acceso a la cuenta
          se puede hacer introduciendo el nombre del registrado y la confirmación
          de identidad de la red social seleccionada, en los campos de inicio de
          sesión o en una de las redes sociales utilizadas. Dichos datos
          vinculados a una red social, que sean suministrados por el registrado,
          serán usados de forma exclusiva por el Sitio Web para permitir el
          ingreso del Usuario a su cuenta. Los registrados deberán suministrar su
          información, veraz, suficiente y actualizada en el momento del registro.
          El Usuario será responsable de la administración de su cuenta,
          incluyendo la protección de su contraseña. El uso de la cuenta es
          personal e intransferible.</li>
        <br>
        <li>
          ACTUALIZACIÓN DATOS DE REGISTRO<br>
          El
          Usuario se compromete a mantener actualizados sus datos personales.
          Cualquier consecuencia derivada de la ausencia de actualización de los
          mismos será imputable al registrado. El Sitio Web no se encuentra en la
          obligación de controlar la veracidad de los datos publicados por los
          registrados. No obstante, en el evento de adelantar controles con este
          fin, podrá solicitar los documentos de soporte que considere
          pertinentes.</li>
        <br>
        <li>
          CUENTA PERSONAL Y CONFIDENCIALIDAD DE LA CLAVE DE SEGURIDAD<br>
          Los usuarios que realicen el proceso de registro, tendrán acceso a un
          perfil personal (en adelante el “Perfil”) mediante el ingreso de un
          Nombre de Usuario y una clave de seguridad personal elegida por
          registrado (“contraseña”) o la realización del registro a través de la
          red social seleccionada. Esta contraseña de seguridad es personal e
          intransferible. Se encuentra prohibida la venta, cesión, transferencia o
          transmisión del Perfil a un tercero bajo cualquier título, ya sea a
          título oneroso o gratuito.</li>
        <br>
        <li>POLÍTICA DE TRANSACCIONES EN EL SITIO WEB<br>
          Los usuarios podrán seleccionar la cadena a cuál desean aportar y la cantidad
          de dinero con la que desean contribuir. El Usuario reconoce y acepta
          que: (i) el aporte de los recursos a la cadena se hace de forma
          voluntaria, gratuita e irrevocable, en los términos establecidos en los
          presentes Términos y Condiciones; (ii) que mediante el aporte de los
          recursos el Usuario está transfiriendo el derecho de dominio sobre los
          mismos, por lo que la cadena NO está ejerciendo en nombre y por su cuenta
          actividades de administración de inversiones de sus recursos; (iii) que
          NO espera recibir ni recibirá ningún tipo de contraprestación o
          remuneración por el aporte de los recursos a la cadena a la que decide
          aportar, otro que no sean los descritos en la página de la cadena a la que
          aportó. <br>
          Todas las transacciones que se realicen por fuera del Sitio Web, no serán
          responsabilidad del Sitio Web y cada Usuario se hará responsable de
          dicha transacción.</li>
        <br>
        <li>
          DEVOLUCIONES O REEMBOLSOS<br>
          Teniendo
          en cuenta el carácter irrevocable de los aportes mencionado en este
          apartado, en caso de que exista una solicitud de devolución, el Sitio
          Web funcionará como intermediario entre Aportante y Creador, para que
          éste último se encargue de atender la solicitud como considere
          pertinente y dé respuesta directa al Aportante.</li>
        <br>
        <li>LEY APLICABLE Y SOLUCIÓN DE CONTROVERSIAS<br>
          Los presentes términos y condiciones serán regidos e interpretados según la
          legislación colombiana vigente y aplicable para las distintas materias.
          Cualquier controversia que se presente entre las partes, directa o
          indirectamente relacionada con estos Términos y Condiciones de Uso, que
          no pueda ser resuelta amigablemente entre las Partes dentro de los diez
          (10) días siguientes al origen de la disputa, se someterá a la decisión
          de un Tribunal de Arbitramento, el cual funcionará de acuerdo con las
          normas del Centro de Arbitraje y Conciliación de la Cámara de Comercio
          de Bogotá. El Tribunal estará integrado por un (1) árbitro si el monto
          de la controversia es inferior a mil (1.000) Salarios Minimos Legales
          Mensuales Vigentes de la República de Colombia o por tres (3) árbitros,
          si el monto de la controversia supera este valor. Los árbitros serán
          nombrados de común acuerdo entre las partes o en su defecto por el
          Centro de Arbitraje de la Cámara de Comercio de Bogotá. Su fallo será en
          derecho y aplicarán la ley colombiana.</li>
      </ol>
    </li>
  </ol>
</div>
