<% if !current_user.paid_next_participant?(cadena, global_date) && @next_paid_participant.user != current_user %>
  <%= button_to "Pay #{@next_paid_participant.name}", cadena_payments_path(cadena, participant_id: @next_paid_participant.id, user: current_user), class: 'btn-primary text-white mb-6' %>
<% elsif @next_paid_participant.user == current_user %>
  <button disabled class="flex items-center justify-center mb-6 btn-disabled">Es tu turno, no pagas <%= inline_svg_tag('svg/check.svg', class:'w-4 ml-2 text-ciel') %></button>
<% else %>
  <button disabled class="flex items-center justify-center mb-6 btn-disabled">Ya pagaste tu cuota para <%= @next_paid_participant.first_name %> <%= inline_svg_tag('svg/check.svg', class:'w-4 ml-2 text-ciel') %></button>
<% end %>
