<div data-controller="cadena-participants">
  <div class="flex mb-4 space-x-3">
    <button class="px-4 py-1.5 text-sm text-white rounded-full active-period" data-cadena-participants-target="tab1" data-action="click->cadena-participants#showPeriod">
      Este periodo
      (<%= case cadena.periodicity
        when 'monthly'
          t('cadena.month')
        when 'daily'
          t('cadena.day')
        when 'bimonthly'
          t('cadena.half_month')
      end %>)
    </button>
    <button class="px-4 py-1.5 text-sm text-white rounded-full hover:bg-midnight" data-cadena-participants-target="tab2" data-action="click->cadena-participants#showGlobal">Global</button>
  </div>
  <%= render 'cadenas/cadena_participants/period', cadena: cadena   %>
  <%= render 'cadenas/cadena_participants/global', cadena: cadena %>
</div>
