<ul role="list" class="divide-y divide-gray-700">
  <% cadena.participations.order(position: :asc).each do |participation| %>
    <li class="py-3 sm:py-4 first:pt-0 last:pb-0">
      <div class="flex items-center space-x-4">
        <div class="flex-shrink-0">
          <%= image_tag participation.user.avatar, alt: "#{participation.user.name} avatar", class:"w-8 h-8 rounded-full" %>
        </div>
        <div class="flex-1 min-w-0">
          <p class="text-sm font-medium text-white truncate">
            <%= participation.user.name %>
          </p>
          <p class="text-sm text-gray-400 truncate">
            <%= participation.user.email %>
          </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold rounded-full bg-jaguar_light font-manrope text-silver">
          <%= inline_svg_tag 'svg/dot_dropdown.svg', class:'w-5' %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
