<div class="px-2 py-1 rounded-lg bg-steel">
  <span class="text-2xl font-bold leading-tight text-white"><%= cadena.next_payment_day(global_date).strftime('%d/%m/%y') %></span>
  <div class="flex items-center justify-center">
    <div class="w-1.5 h-1.5 mr-1.5 bg-pinky rounded-full pulse">
    </div>
    <p class="text-xs leading-tight text-white"><%= t('cadena.next_payment_day') %></p>
  </div>
</div>
