<div class="px-6 pb-6 mx-auto">
  <div class="flex items-center justify-between mx-auto mb-10 w-80">
    <%= link_to @cadena do %>
      <%= inline_svg_tag('svg/arrow_left.svg', class:'text-white w-6') %>
    <% end %>
    <h1 class="text-lg font-bold text-white text font-manrope">Editar cadena</h1>
    <span class="w-5"></span>
  </div>
  <%= render "form", cadena: @cadena %>
</div>
