<div class="max-w-md px-6 pb-6 mx-auto">
  <div class="flex items-center justify-between mb-10">
    <%= link_to cadenas_path do %>
      <%= inline_svg_tag('svg/arrow_left.svg', class:'text-white w-6') %>
    <% end %>
    <h1 class="text-lg font-bold text-white text font-manrope">Nueva cadena</h1>
    <span class="w-5"></span>
  </div>
  <%= render "form", cadena: @cadena %>
</div>
