<div class="flex w-full max-w-md px-6 mx-auto">
  <div class="w-full mx-auto">
    <%= render @cadena %>
    <%= render 'cadena_subsections_links', cadena: @cadena %>
    <%= render 'cadena_admin_section', cadena: @cadena %>
  </div>
</div>
