<div class="flex justify-center max-w-md mx-auto">
  <div class="w-full px-6 mb-6 text-white font-manrope">
    <%= render 'users/my_cadenas' %>
    <%= render 'users/my_balance' %>
    <%= render 'users/my_payments' %>
  </div>
</div>
