body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #111a4a;
  font-weight: 500;
  padding: 2.5rem;
}

a {
  color: #111a4a;
}

.logo_mail {
  height: 2rem;
}

.intro {
  margin-bottom: 2rem;
}

.signature {
  margin-top: 2rem;
}

.btn-primary {
  background: #9b5cae;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin: 0.2rem 0;
}
