body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #111a4a;
  font-weight: 500;
  padding: 2.5rem;
}

a {
  color: #111a4a;
}

.logo_mail {
  height: 2rem;
}

.intro {
  margin-bottom: 2rem;
}

.signature {
  margin-top: 2rem;
}
