<div class="text-right font-manrope">
  <span class="text-2xl font-bold"><%= cadena.end_date.strftime('%d/%m/%y') %></span>
  <p class="text-sm lowercase text-placeholder-gray"><%= t('cadena.end_date') %></p>
</div>
