<p class="mb-3 text-xs leading-7 text-center text-gray-100 font-manrope">Hasta cuando puedo pagar el turno de <span class="font-medium text-primary_blue underline-offset-2">
    <%= cadena.next_paid_participant ? cadena.next_paid_participant.first_name : cadena.participants.order(:position).last.first_name %></span> ?
</p>
<div class="grid grid-cols-2 gap-x-5 font-manrope">
  <div class="flex flex-col items-center px-2 pt-1 pb-2 rounded-lg bg-steel_light">
    <span class="text-2xl font-bold leading-tight text-white"><%= cadena&.next_payment_date&.strftime('%d/%m/%y') %></span>
    <div class="flex items-center justify-center">
      <div class="w-1.5 h-1.5 mr-1.5 bg-green-400 rounded-full pulse">
      </div>
      <p class="text-xs leading-tight text-white">
        Límit. turno <u class="underline-offset-2">actual</u>
      </p>
    </div>
  </div>
  <div class="flex flex-col items-center px-2 pt-1 pb-2 rounded-lg bg-midnight">
    <span class="text-2xl font-bold leading-tight text-gray-400"><%= cadena&.next_payment_cycle_start&.strftime('%d/%m/%y') %></span>
    <div class="flex items-center justify-center">
      <%= inline_svg_tag('svg/hand.svg', class:'w-4 text-gray-400 mr-0.5') %>
      <p class="text-xs leading-tight text-gray-400">
        <% if cadena.next_payment_cycle_start.nil? %>
          No hay mas turnos
        <% else %>
          Inicio próx. turno
        <% end %>
      </p>
    </div>
  </div>
</div>
