<div class="font-manrope">
  <span class="text-2xl font-bold"><%= cadena.start_date.strftime('%d/%m/%y') %></span>
  <p class="text-sm lowercase text-placeholder_gray"><%= t('cadena.start_date') %></p>
</div>
