<p>¡Bienvenido(a) <%= @email %>!</p>
<p>Puedes confirmar tu dirección de correo electrónico de la cuenta a través del enlace siguiente:</p>
<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
