<p>¡Hola <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para notificarte que tu dirección de correo electrónico está siendo cambiada a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te estamos contactando para notificarte que tu dirección de correo electrónico ha sido cambiada a <%= @resource.email %>.</p>
<% end %>
